@font-face {
    font-family: 'the_spiral_mandatesFont';
    src: url('/assets/fonts/LPCervoSerif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'the_spiral_mandatesFont', serif;
}
